.imag{
    background-image: url(../images/Yin_yang.svg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    background-position: center;
    height: 600px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
  font-size: 40px;
  color: red;
  
}
